/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*===== root writing-mode: =====*/
:root{
  --nav-width: 90px;

  /*===== Colores =====*/
  --first-color: #12192C;
  --bg-color: #065757;
  --sub-color: #B6CEFC;
  --white-color: #fff;
  
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .730rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}


/*===== Body =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  padding: 2rem 0 0 6.75rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}
h1{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

/*===== l NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
 background: linear-gradient(180deg, #17A6D3 0%, #1E3249 100%);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: var(--z-fixed);
}

/*===== NAV =====*/
.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav__brand{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav__toggle{
  font-size: 1.10rem;
  padding: .75rem;
  cursor: pointer;
}
.nav__logo{
  color: var(--white-color);
  font-weight: 600;
  font-size: 12px;
  padding-right: 1.5pc;
  padding-top: 10px;
}

#nas{
  color: #12192C;
}

.nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--white-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}
.nav__link:hover{
  background-color: var(--first-color);
  color: var(--white-color);
  text-decoration: none;
}
.nav__icon{
  font-size: 1.10rem;
}
.nav__name{
  font-size: var(--small-font-size);
  font-weight: 400;
}

/*Expander menu*/
.expander{
  width: calc(var(--nav-width) + 8rem);
}

/*Add padding body*/
.body-pd{
  padding: 2rem 0 0 16rem;
}

/*Active links menu*/
.active{
  background-color: var(--first-color);
}

/*===== COLLAPSE =====*/
.collapses{
  grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
  justify-self: flex-end;
  transition: .5s;
}
.collapse__menu{
  display: none;
  padding: .12rem 2.25rem;
  width: 200px;
}
.collapse__sublink{
  color: var(--sub-color);
  font-size: var(--small-font-size);
}
.collapse__sublink:hover{
  color: var(--white-color);
}

/*Show collapse*/
.showCollapse{
  display: block;
}

/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}

/*=====bar=====*/
.bar2{
	margin-top: -2pc;
	margin-left: -2.1pc;
	background: #FCFCFC;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}

.bar2 h4{
	font-size: 16px;
	font-weight: 600;
	color: #12192C;
}

.form-cari{
	border-radius: 50px;
	padding: 5px;
	width: 180px;
	border: none;
	padding-left: 1pc;
	font-size: 12px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}

#btse{
	width: 70px;
	padding: 0;
	border: 1px solid #19BDF1;
	border-radius: 8px 0px;
	font-size: 15px;
	font-weight: 500;
}

#btse:hover{
	background-color: #19BDF1;
	border: none;
	color: white;
	font-weight: 600;
}

/*=====table==========*/

.tble{
	padding: 30px;
	margin-top: 5pc;
	background: #ffff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.table{
	margin-top: 2pc;
}

.table th, td{
	font-size: 13px;
}

.btn1{
	font-family: poppins;
	font-weight: 500;
	border: 1px solid #19BDF1;
	border-radius: 10px 0px;
	margin-left: 1.6pc;
	text-align: center;
	padding: 8px;
	color: black;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 1pc;
	padding-right:1pc;
}

.btn1:hover{
	background-color: #19BDF1;
	border: none;
	color: white;
	text-decoration: none;
}

.edt{
	margin-left: -4pc;
}

.hedr{
	width: 100%;
	border-radius: 10px;
	margin-top: -1.9pc;
	height: 6px;
	background-color: #19BDF1;
}

#bth{
	width: 120px;
	padding: 5px;
	margin-top: 2pc;
	border: 1px solid #19BDF1;
	border-radius: 10px 0px;
	font-size:12px;
}

#bth:hover{
	background-color: #19BDF1;
	border: none;
	color: white;
}

.nav_name{
  font-family: poppins;
	font-weight: 600;
}

#ups{
  font-family: poppins;
  font-weight:200;
  font-size: 14px;
}

#btn{
  font-family: poppins;
  color: white;
  font-size: 16px;
  font-weight: 200;
  width: 120px;
  height: 35px;
  background-color: #17A6D3;
  border-radius: 10px 0px;
  margin-top: 1pc;
}


/*=========BAGIAN REKAM MEDIS*/
  
  .card1{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    height: 300px; 
  }

  .card2{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
  }

  .card3{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
    height: 490px;
  }

  .hedr-bp{
    width: 60%;
    border-radius: 10px;
    margin-left: 7pc;
    height: 6px;
    background-color: #19BDF1;
  }

  .hedr-rm{
    width: 60%;
    border-radius: 10px;
    margin-left: 7pc;
    height: 6px;
    background-color: #12192C;
  }

  .hedr-rk{
    width: 60%;
    border-radius: 10px;
    margin-left: 7pc;
    height: 6px;
    background-color: #34DD45;
  }

   .hedr-cr{
    width: 60%;
    border-radius: 10px;
    margin-left: 7pc;
    height: 6px;
    background-color:  #D4D816;
  }

  .bp-header h5{
    font-family: poppins;
    font-weight: 600;
    margin-top: 2pc;
    text-align: center;
    color: black;
    padding-bottom: 1pc;
  }

  .sien{
    padding: 2px;
    padding-left: 30px;
    border: 1px solid #4BCBF3;
    border-radius: 5px 0px;
  }

  .sieh{
    font-family: poppins;
    font-weight: 200;
    font-size: 15px;
    color: black;
  }

  .bpf1{
    width: 30%;
    border-radius: 0px 100px 100px 0px;
    float: left;
    margin-top: 1.5pc;
    height: 6px;
    background-color: #19BDF1;
  }

  .bpf2{
    width: 30%;
    border-radius: 100px 0px 0px 100px;
    float: right;
    margin-top: 1.5pc;
    height: 6px;
    background-color: #19BDF1;
  }

   .bprm1{
    width: 30%;
    border-radius: 0px 100px 100px 0px;
    float: left;
    margin-top: 1.5pc;
    height: 6px;
    background-color: #12192C;
  }

  .bprm2{
    width: 30%;
    border-radius: 100px 0px 0px 100px;
    float: right;
    margin-top: 1.5pc;
    height: 6px;
    background-color: #12192C;
  }

  .rkrm1{
    width: 30%;
    border-radius: 100px 0px 0px 100px;
    margin-left: 0pc;
    margin-top: 0.4pc;
    height: 6px;
    background-color:  #34DD45;
  }


  .rkrm2{
    width: 30%;
    border-radius: 100px 0px 0px 100px;
    float: right;
    margin-top: 0.4pc;
    height: 6px;
    background-color:  #34DD45;
  }

  .crrm1{
     width: 30%;
    border-radius: 100px 0px 0px 100px;
    float: left;
    margin-top: 0.4pc;
    height: 6px;
    background-color:  #D4D816;
  }

  .crrm2{
     width: 30%;
    border-radius: 100px 0px 0px 100px;
    float: right;
    margin-top: 0.4pc;
    height: 6px;
    background-color: #D4D816;
  }

  .rk-form{
   
    width: 500px;
    padding: 5px;
    border: 1px solid #34DD45;
    border-radius: 3px;
  }

  .form-group{
    font-family: poppins;
    font-weight:300;
    font-size: 16px;
  }

  #btnrk{
    font-family: poppins;
    font-weight: 200;
    font-size: 13px;
    margin-top: 0.5pc;
    background: #34DD45;
    border-radius: 5px 0px;
  }

  .obt{
    width: 350px;
    padding: 5px;
    border: 1px solid #D4D816;
    border-radius: 3px;
  }

   #btob{
    font-family: poppins;
    font-weight: 600;
    font-size: 13px;
    background:#D4D816;
    border-radius: 5px 0px;
  }

  #btkm{
    margin-left: -1.3pc;
    width: 120px;
    margin-top: 1.6pc;
    font-family: poppins;
    font-size: 13px;
    background-color:#17A6D3;
    border-radius: 5px 0px;
    color: white;
  }

  #btkm:hover{
    color: black;
    border:1px solid #17A6D3;
    background: none;
  }
/*========= END BAGIAN REKAM MEDIS*/
  
  /*===============BAGIAN DASHBOARD===*/

    .img_lbr img{
      margin-left: -2pc;
      border-radius: 5px;
    }

    .jdldeb{
      margin-left: -4pc;
    }

    .jdldeb h4{
      letter-spacing: 2px;
      font-family: poppins;
      font-size: 20px;
      font-weight: 400;
      margin-top: 1pc;
    }

    .jdldeb p{
        margin-top: 2pc;
        max-width: 300px;
        font-family: poppins;
        font-weight: 200;
        font-size: 14px;
         color: #787878;

    }

    #mls{
      color: #071E5E;
      font-size: 23px;
      font-weight: 600;
    }

    .lbhe{
      width: 50%;
      margin-left: 4pc;
      border-radius: 100px;
      margin-top: -0.6pc;   
      height: 6px;
      background-color: #12192C;
    }

    .img_lbr2{
      width: 250px;
      padding: 10px;
      height: 550px;
      margin-left: 5pc;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

    }

    .img_lbr2 img{
      margin-top: 1pc;
    }

    .vihe h4{
      text-align: center;
      font-family: poppins;
      margin-top: 1pc;
      font-size: 18px;
      font-weight: 600;
    }

    .vihe p{
      font-family: poppins;
      font-size: 14px;
      color: #787878;
      text-align: center;
      font-weight: 200;
      margin-top: 1pc;
    }

    .vihe h5{
      font-family: poppins;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      margin-top: 2pc;
      color: #17A6D3;
    }

    .pola h4{
      font-family: poppins;
      font-weight: 600;
    }

    .pola h4{

    }

    .pola small{
      font-family: poppins;
      font-weight: 200;
      color: #787878;
    }

    .plme{
      font-family: poppins;
      font-weight: 600;
    }

    .plpra{
      margin-top: 0.4pc;
      text-indent: 30px;
      max-width: 500px;
      font-family: poppins;
      font-weight: 200;
      font-size: 14px;
      color: #787878; 
    }

    .item{
      margin-top: 7pc;
    }

    .itm1{
      margin-left: -5pc;
      width: 100px;
      height: 100px;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      transition: transform 2s;
    }

     .itm1:hover{
      transform: scale(1.1);
      box-shadow: 0px 0px 4px #17A6D3;
    } 

    .ithe1{
      width: 50%;
      margin-left: 1.5pc;
      border-radius: 100px;
      margin-top: -0.6pc;   
      height: 4px;
      background-color: #12192C;
    }

    .imth1{
      margin-left: 1.8pc;
      margin-top: 1pc;
    }

    .itjd1{
      font-family: poppins;
      font-size: 13px;
      font-weight: 600;
      text-align: center;
      margin-top: 0.5pc;
    }

    /**/

    .itm2{
      margin-left: -3pc;
      width: 100px;
      height: 100px;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      transition: transform 2s;
    }

     .itm2:hover{
      transform: scale(1.1);
      box-shadow: 0px 0px 4px #17A6D3;
    } 

    .ithe2{
      width: 50%;
      margin-left: 1.5pc;
      border-radius: 100px;
      margin-top: -0.6pc;   
      height: 4px;
      background-color: #12192C;
    }

    .imth2{
      margin-left: 1.8pc;
      margin-top: 1pc;
    }

    .itjd2{
      font-family: poppins;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      margin-top: 0.5pc;
    }

    /**/

    .itm3{
      margin-left: -1pc;
      width: 100px;
      height: 100px;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      transition: transform 2s;
    }

    .itm3:hover{
      transform: scale(1.1);
      box-shadow: 0px 0px 4px #17A6D3;
    } 

    .ithe3{
      width: 50%;
      margin-left: 1.5pc;
      border-radius: 100px;
      margin-top: -0.6pc;   
      height: 4px;
      background-color: #12192C;
    }

    .imth3{
      margin-left: 1.8pc;
      margin-top: 1pc;
    }

    .itjd3{
      font-family: poppins;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      margin-top: 0.5pc;
    }
  /*=============== END BAGIAN DASHBOARD===*/
